.loaderWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    color: #5A50E5;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 1.4s;
}

@keyframes spin {
    from {
        transform: rotateZ(0);
        transition: transform .1s ease-in;
    }

    to {
        transform: rotateZ(360deg);
    }
}