.wrapper {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    margin-bottom: 12px;
}

.info_text {
    margin-left: 5px;
}

.image_wrapper {
    max-width: 210px;
    max-height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.image {
    height: 100%;
    width: 100%;
}