.label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textarea {
    margin-top: 8px;
    outline: none;
    border: 1px solid #CED4DA;
    padding: 10px 15px;
    height: 180px;
    max-height: 180px;
}

.textarea:focus {
    border: 1px solid #7971ea;
}